@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$colCountFull: 6;

body {
    font-size: 20px;

}

.wrapper {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    line-height: 0.9em;
    display: grid;
    grid-template-columns: repeat($colCountFull, 1fr);
    grid-auto-rows: min-content;
    column-gap: 1em;
    padding: 1em 3em;

    .full-row {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span $colCountFull;
    }

    .section {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span $colCountFull;
        grid-auto-rows: min-content;

        .sectionTitle {
            text-transform: uppercase;
            font-weight: 100;
            grid-column: span $colCountFull;
            font-size: 3.5rem;
            line-height: 1em;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            -webkit-text-fill-color: transparent;
            padding-bottom: 1em;
        }
    }

    .home {
        // min-height: 50vh;
    }

    .topper {
        display: grid;
        grid-template-columns: subgrid;
        font-size: 0.75em;
        grid-auto-rows: min-content;

        .dash {
            border-top: 1px black solid;
            padding-bottom: 1em;
            grid-row: unset;
            grid-column: span 2;
        }

        >div {
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
            grid-row: span 3;
            grid-column: span 2;

            >div {
                grid-column: span 2;
                font-size: 0.85em;

                &.name {
                    line-height: 1em;
                    font-size: 2.1em;
                    grid-row: span 2;
                    align-self: center;
                }

            }
        }

    }

    .work {
        font-size: 0.6em;

        .titles {
            border-bottom: 1px black solid;
            padding-bottom: 0.25em;
        }

        li {
            padding: 0.5em 0;
            border-bottom: 1px black solid;
            text-transform: uppercase;
        }

        .client-row {
            grid-column: span 1;
            // align-self: center;
        }

        .project-row {
            grid-column: span 2;
            // align-self: center;
        }

        .tech-row {
            grid-column: span 3;
            text-align: right;
            display: flex;
            justify-content: right;
            flex-wrap: wrap;
            column-gap: 1em;
            row-gap: 0.5em;

            li {
                padding: 0;
                border-bottom: none;
            }
        }
    }

    .about {
        font-size: 0.65em;

        .bodyCopy {
            line-height: 2em;
            text-transform: uppercase;
            grid-column: span 3;
            grid-row: span 2;
            padding-bottom: 2em;

            p {
                padding-bottom: 2em;
            }


            // &:nth-child(2n + 1) {
            //     // padding-top: 4em;
            //     grid-column-start: 4;
            //     grid-column-end: 7;
            // }

            // &:nth-child(3n + 1) {
            //     grid-column-start: 3;
            //     grid-column-end: 6;
            // }
        }

        .listBox {
            // border: 1px black solid;

            .listTitle {
                padding-bottom: 1em;
                border-bottom: 1px black solid;
            }

            ul {
                text-transform: uppercase;
                padding-top: 1em;
            }
        }
    }
}